
$theme: "solar";
$white: #fff;

$gray-100: #fdf6e3;
$gray-200: #eee8d5;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #839496;
$gray-700: #495057;
$gray-800: #073642;
$gray-900: #002b36;

$black: #000;
$blue: rgb(27, 91, 160);
$indigo: #6610f2;
$purple: rgb(159, 71, 71);
$pink: #e83e8c;
$red: rgb(175, 8, 77);
$orange: rgb(240, 109, 26);
$yellow: #cb4b16;
$green: rgb(41, 131, 49);
$teal: #20c997;
$cyan: #268bd2;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$light: $gray-100;
$dark: $gray-800;

$min-contrast-ratio: 2.5;
$body-bg: $gray-900;
$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"  !default;
$dropdown-link-hover-color: rgba(255, 255, 255, .75);
$dropdown-link-hover-bg: $body-bg;
$nav-link-padding-y: .9rem;
$nav-link-disabled-color: $gray-400;
$nav-tabs-border-color: $gray-800;
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: $white;
$pagination-border-color: $gray-800;
$pagination-hover-color: $white;
$pagination-hover-bg: $gray-800;
$pagination-hover-border-color: $gray-800;
$pagination-disabled-color: $gray-800;
$pagination-disabled-border-color: $gray-800;
$card-border-color: rgba($gray-900, .95);
$popover-border-color: $body-bg;
$modal-content-border-color: $body-bg;
$modal-header-border-color: $body-bg;
$primary: $blue;
$progress-bar-color: $primary;
$list-group-border-color: $gray-800;
$list-group-disabled-bg: transparent;
$breadcrumb-padding-y: .375rem;
$breadcrumb-padding-x: .75rem;
$breadcrumb-border-radius: .25rem;
$danger: $red;
$body-color: $gray-600;
$link-color: $success;
$link-hover-color: $link-color;
$component-active-color: rgba(255, 255, 255, .75);
$component-active-bg: $gray-800;
$table-accent-bg: rgba($white, .05);
$table-hover-bg: rgba($white, .075);
$table-border-color: $component-active-bg;
$table-dark-bg: $gray-500;
$table-dark-border-color: darken($gray-500, 3%);
$table-dark-color: $body-bg;
$table-bg-scale: 0;
$input-bg: #a9bdbd;
$input-disabled-bg: #657b83;
$input-color: $gray-800;
$input-border-color: rgba($black, .15);
$input-placeholder-color: #657b83;
$input-group-addon-color: $gray-600;
$input-group-addon-bg: $gray-800;
$form-check-input-bg: rgba(255, 255, 255, .75);
$form-check-input-border: 1px solid $white;
$form-check-input-checked-bg-color: $primary;
$form-switch-color: rgba(255, 255, 255, .75);
$form-switch-focus-color: $form-switch-color;
$form-range-track-bg: $gray-800;
$form-range-thumb-bg: $primary;
$form-file-button-color: $gray-600;
$dropdown-bg: $gray-800;
$dropdown-divider-bg: $body-bg;
$dropdown-link-color: $body-color;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $component-active-color;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$navbar-light-color: rgba($black, .4)  !default;
$navbar-light-active-color: rgba($black, .7)  !default;
$pagination-bg: transparent;
$pagination-active-color: rgba(255, 255, 255, .75);
$pagination-active-bg: $gray-800;
$pagination-active-border-color: $gray-800;
$pagination-disabled-bg: transparent;
$card-cap-bg: rgba($gray-800, .25);
$card-bg: rgba($gray-200, .125);
$popover-bg: $gray-800;
$popover-header-bg: $gray-800;
$toast-background-color: lighten($body-bg, 5%);
$toast-border-color: rgba(0, 0, 0, .2);
$toast-header-color: $body-color;
$toast-header-background-color: $toast-background-color;
$toast-header-border-color: $toast-border-color;
$modal-content-bg: $gray-800;
$progress-bg: $gray-800;
$list-group-color: $white;
$list-group-bg: transparent;
$list-group-hover-bg: $gray-800;
$list-group-active-color: $white;
$list-group-disabled-color: $gray-600;
$list-group-action-color: $body-color;
$list-group-action-hover-color: $white;
$breadcrumb-bg: $component-active-bg;
$breadcrumb-active-color: $gray-500;
$btn-close-color: $white;
$pre-color: inherit;

